/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    height: 100%;
    line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
}

img {
    margin-bottom: -5px
}

a {
    color: inherit
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.myNavbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    overflow: hidden;
    color: #000 !important;
    background-color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.homeButton {
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
    white-space: normal;
    letter-spacing: 4px;
    padding: 20px;
}

.otherButtonNavbar {
    float: right;
    width: auto;
    border: none;
    outline: none;
    display: block;
    white-space: normal;
    padding: 20.5px;
}

.backgroundimg {
    position: relative;
    background-size: cover;
    min-height: 100%;
    filter: grayscale(10%);
    background-position: center;
}

.headertext {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    color: #fff !important;
    padding: 48px
}

.title {
    font-size: 64px !important
}

.subtitle {
    font-size: 36px !important
}

.subsubtitle {
    font-size: 18px !important
}

.headerButton {
    color: #000 !important;
    background-color: #fff !important;
    padding: 12px 24px !important;
    font-size: 18px !important;
    margin-top: 16px !important;
    opacity: 0.60;
}

.headerButton:hover {
    opacity: 1;
}

.opacity:hover {
    opacity: 0.60
}

.headerSocialButtons {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #757575 !important;
    font-size: 18px !important;
    padding: 24px 48px;
}

.aboutcompany {
    padding: 128px 16px;
}

.aboutcompanyTitle {
    text-align: center !important;
}

.aboutcompanySubtitle {
    font-size: 18px !important;
    text-align: center !important;
}

.aboutcompanyKey {
    padding: 0 8px;
    text-align: center !important;
    margin-top: 64px;
    display: table;
}

.aboutcompanyPartition {
    float: left;
    width: 25%;
}

.aboutcompanyPartitionImg {
    margin-bottom: 16px !important;
    font-size: 64px !important;
    text-align: center !important;
}

.aboutcompanyPartitionText {
    font-size: 18px !important
}

.footerText {
    text-align: center !important;
    color: #fff !important;
    background-color: #000 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.textButtontoStart {
    margin-right: 16px !important;
}

.buttontoStart {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.footerSubText {
    font-size: 24px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
